# Projeto 1 - Ci√™ncia dos Dados

Nome: Ralph Michaan

Nome: F√°bio Ferreira

**Aten√ß√£o:** Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [187]:
%matplotlib inline
from emoji import UNICODE_EMOJI
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from math import *

**Em `filename`, coloque o nome do seu arquivo de dados!**

In [188]:
import os

filename = 'iPhone.xlsx'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com a prova!')
else:
    print(f'N√£o encontrei o arquivo {filename} aqui no diret√≥rio {os.getcwd()}, ser√° que voc√™ n√£o baixou o arquivo?')

Encontrei o arquivo iPhone.xlsx, tudo certo para prosseguir com a prova!

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [189]:
train = pd.read_excel(filename, sheet_name = 'Treinamento')
train.head(5)

                                         Treinamento  Classifica√ß√£o
0  feliz pelo iphone 11 mas o iphone 10 mds √© mui...              0
1  quando eu estiver comprando o iphone 11 pro ma...              1
2      n√£o consegui comprar o iphone 11,imagina o 14              1
3   gra√ßas a deus vou compra meu iphone 11 pro max ü§©              1
4  gente, qual a diferen√ßa pro iphone 11? kkkkkkk...              1

In [190]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Relev√¢ncia
0  @hyzerfps iphone 11 = fogao de 3 bocas\niphone...           0
1  @sirmaykon @uourah kkkkkkkkkkkkkkkkkkkkkk tem ...           0
2  @cnnbrbusiness @cnnbrasil por isso o mundo t√° ...           0
3  rt @k3viyn: #appleevent esperando o iphone 12 ...           0
4  √© meus amigos, que fase! troquei gramado por u...           1

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

Nosso produto √© um smartphone da Apple, lan√ßado em setembro de 2019, por um pre√ßo um pouco mais baixo que suas variantes mais parrudas.

Consideramos relevante os tweets em que havia algum feedback sobre o produto, ou se a pessoa tinha vontade de ter, j√° os desconsiderados foram as piadas feitas com o valor, e os tweets que n√£o se tratavam do iPhone 11 propriamente dito.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

Limpando os tweets e pegando as frequ√™ncias absolutas e relativas:

In [191]:
import re

def is_emoji(s):
    return s in UNICODE_EMOJI

def cleanup(text):
    """
        Fun√ß√£o de limpeza muito simples que troca alguns sinais b√°sicos por espa√ßos
    """
    #import string
    punctuation = '[!-.:?;]' # Note que os sinais [] s√£o delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    text_subbed = re.sub('https', "", text_subbed)
    text_subbed = re.sub('\n', '', text_subbed)
    text_subbed = ''.join(' ' + char + ' ' if is_emoji(char) else char for char in text_subbed).strip()
    return text_subbed


def is_emoji(s):
    return s in UNICODE_EMOJI

Dos tweets relevantes:

In [192]:
train_rel_clean = train.loc[train["Classifica√ß√£o"] == 1, 'Treinamento'].apply(cleanup)
train_rel_clean

1      quando eu estiver comprando o iphone 11 pro ma...
2           n√£o consegui comprar o iphone 11imagina o 14
3      gra√ßas a deus vou compra meu iphone 11 pro max  ü§©
4      gente qual a diferen√ßa pro iphone 11 kkkkkkkk ...
7      @ginghinni7 @conservadorarv melhor do que comp...
                             ...
492    rt @juh_santos14 troco minha amiga por um ipho...
493          @rodsal200 um iphone 11 t√° mais cara q isso
494    contando os dias pra pegar meu iphone 11 üòç  üòç ...
495    rt @vick_417 e eu que quase comprei o iphone 1...
498    @wulfs1ghs ·Öü·Öü·Öü   ‚†Ä/entrega uma caixa do iphone...
Name: Treinamento, Length: 196, dtype: object

In [193]:
train_rel_clean.astype(str)
train_rel_lower = train_rel_clean.str.lower()
train_rel = train_rel_lower.str.split()


train_rel_lista = []

for palavras in train_rel:
    train_rel_lista += palavras
serie_train_rel = pd.Series(train_rel_lista)
serie_train_rel

0          quando
1              eu
2         estiver
3       comprando
4               o
          ...
3521           um
3522          ceo
3523        legal
3524          ·Öü·Öü·Öü
3525            ‚†Ä
Length: 3526, dtype: object

In [194]:
serie_train_rel_absoluta = serie_train_rel.value_counts()
serie_train_rel_absoluta

iphone              215
11                  195
o                   158
um                   91
que                  72
                   ...
estilo                1
avisa                 1
m√£e                   1
//tco/wo7xlctlnn      1
desapegada            1
Length: 1071, dtype: int64

E dos irrelevantes:

In [195]:
train_irrel_clean = train.loc[train["Classifica√ß√£o"] == 0, 'Treinamento'].apply(cleanup)
train_irrel_clean

0      feliz pelo iphone 11 mas o iphone 10 mds √© mui...
5      fui a√≠ √† dois anos quando ofereci um iphone 11...
6      gosto muito do conceito do pobre com macbook p...
9      @gab_neres ce pedia meu rg pra ir no motel e e...
10     apareceu uma msg pro luan no google dizendo qu...
                             ...
490    eu s√≥ preciso saber quanto vai valer o iphone ...
491    um apoiador das causas da comunidade lgbtq pra...
496    e nem vou comentar o ‚Äúcomunistas‚Äù e o ‚Äúanti ca...
497    rt @rannasoareez comprei o iphone 11 e a√≠ inve...
499    preciso de um telefone novo algu√©m me d√° um ip...
Name: Treinamento, Length: 304, dtype: object

In [196]:
train_irrel_clean.astype(str)
train_irrel_lower = train_irrel_clean.str.lower()
train_irrel = train_irrel_lower.str.split()

train_irrel_lista = []

for palavras in train_irrel:
    train_irrel_lista += palavras
serie_train_irrel = pd.Series(train_irrel_lista)
serie_train_irrel

0        feliz
1         pelo
2       iphone
3           11
4          mas
         ...
6061        um
6062    iphone
6063        11
6064       por
6065     favor
Length: 6066, dtype: object

In [197]:
serie_train_irrel_absoluta = serie_train_irrel.value_counts()
serie_train_irrel_absoluta

iphone          330
11              295
o               198
um              166
de              144
               ...
@leandraaa06      1
suggar            1
xabila            1
rid√≠culo          1
viajar            1
Length: 1799, dtype: int64

Criando a lista de palavras dos tweets e fazendo o smoothing:

In [198]:
total_rel_irrel = train_rel_lista + train_irrel_lista
qntd_total = len(total_rel_irrel)
qntd_total

9592

In [199]:
serie_rel_irrel = pd.Series(total_rel_irrel)

##### Criando o classificador:

Queremos calcular: 

- $P(relevante|frase)$: probabilidade de a frase ser relevante;
- $P(irrelevante|frase)$: probabilidade de a frase ser irrelevante;

A f√≥rmula de Bayes √© a seguinte:

$$P(relevante|frase) = \frac{P(frase|relevante) P(relevante)}{P(frase)}$$

Ela √© an√°loga para os tweets irrelevantes, trocando tudo que √© relevante por irrelevante.

Para calcularmos essa probabilidade, √© necess√°rio chegar nas seguintes informa√ß√µes:

- $P(frase|relevante)$: probabilidade da frase dado que √© relevante;
- $P(frase|irrelevante)$: probabilidade da frase dado que √© irrelevante;
- $P(relevante)$: probabilidade de ser relevante;
- $P(irrelevante)$: probabilidade de ser irrelevante;
- $P(frase)$: probabilidade de uma frase ocorrer na l√≠ngua portuguesa.

In [200]:
#definindo o alfa e o V 
alfa = 0.8
V = 400000

In [201]:
#total de tweets relevantes e irrelevantes
total_relevante = len(serie_train_rel_absoluta) + (alfa*V)
total_irrelevante = len(serie_train_irrel_absoluta) + (alfa*V)

In [202]:
#total de palavras
total_p = (serie_train_rel_absoluta.sum() + serie_train_irrel_absoluta.sum())

In [203]:
#Probabilidade de ser relevante ou irrelevante
prob_rel = serie_train_rel_absoluta.sum() / total_p
prob_irrel = serie_train_irrel_absoluta.sum()/ total_p

In [204]:
def classificador(tweet, planilha): #Fun√ß√£o do classificador
    
    prob_tt_rel = 1.0 #probabilidade do tweet dado que ele √© relevante
    prob_tt_irrel = 1.0 #probabilidade do tweet dado que ele √© irrelevante
    cnt = 0
    
    for tt in tweet:
        for palavra in tweet:
            
            if palavra in serie_train_rel_absoluta:
                prob_palavra_dado_rel = (train_rel_absoluta[palavra] + alfa)/ total_relevante
                prob_tt_dado_rel += log10(prob_palavra_dado_rel)
            else: 
                prob_palavra_dado_rel = alfa / total_relevante
                prob_tt_rel += log10(prob_palavra_dado_rel)
                
            if palavra in serie_train_irrel_absoluta:
                prob_palavra_dado_irrel = (train_rel_absoluta[palavra] + alfa)/ total_irrelevante
                prob_tt_dado_irrel += log10(prob_palavra_dado_irrel)
            else:
                prob_palavra_dado_irrel = alfa / total_irrelevante
                prob_tt_irrel += log10(prob_palavra_dado_irrel)
                
    prob_rel_dado_tt = prob_tt_rel + log10(prob_rel)
    prob_irrel_dado_tt = prob_tt_irrel + log10(prob_irrel)
    
    if prob_rel_dado_tt > prob_irrel_dado_tt:
        planilha.iloc[cnt,2] = 1
    elif prob_rel_dado_tt < prob_irrel_dado_tt:
        planilha.iloc[cnt,2] = 0
        
    cnt +=1
    prob_tt_rel = 1.0 #probabilidade do tweet dado que ele √© relevante
    prob_tt_irrel = 1.0 #probabilidade do tweet dado que ele √© irrelevante

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

Limpando e pegando as frequ√™ncias relativas e absolutas dos tweets relevantes:

In [205]:
train_tts = []
train_cleaner = train['Treinamento'].apply(cleanup)

In [206]:
for tt in train_cleaner:
    train_tts.append(tt)

In [207]:
train['Classificador'] = 0

In [208]:
classificador(train_tts, train)

In [218]:
train

,Treinamento,Classifica√ß√£o,Classificador
0,feliz pelo iphone 11 mas o iphone 10 mds √© mui...,0,1
1,quando eu estiver comprando o iphone 11 pro ma...,1,0
2,"n√£o consegui comprar o iphone 11,imagina o 14",1,0
3,gra√ßas a deus vou compra meu iphone 11 pro max ü§©,1,0
4,"gente, qual a diferen√ßa pro iphone 11? kkkkkkk...",1,0
...,...,...,...
495,rt @vick_417: e eu que quase comprei o iphone ...,1,0
496,e nem vou comentar o ‚Äúcomunistas‚Äù e o ‚Äúanti ca...,0,0
497,rt @rannasoareez: comprei o iphone 11 e a√≠ inv...,0,0
498,@wulfs1ghs ·Öü·Öü·Öü ‚†Ä\n/entrega uma caixa do ipho...,1,0
499,"preciso de um telefone novo, algu√©m me d√° um i...",0,0

In [220]:
pd.crosstab(train['Classifica√ß√£o'],train['Classificador'],normalize = 'all')

Classificador      0      1
Classifica√ß√£o
0              0.606  0.002
1              0.392  0.000

## !!

In [210]:
teste_rel_clean = test.loc[test["Relev√¢ncia"] == 1, 'Teste'].apply(cleanup)
teste_rel_clean

4      √© meus amigos que fase troquei gramado por um ...
5      meu pai comprou um iphone 11 e eu ainda achei ...
7               vou pegar o iphone 11 final do ano  üòç  üòç
10     a apple j√° criou o iphone 12 enquanto eu acabe...
12     eu babava pelo carregador turbo do motorola ma...
                             ...
223    rt @fernandavsntss eu to muito triste e soment...
225      deixem me ter iphone 11 v√£o ver s√≥ snaps a cair
229    @renatinhapoqui n consigo fazer meu ead pq meu...
234    bateria do iphone 11 √© tudooo ainda nem carreg...
237                        @_ilipe quero um iphone 11  ü§î
Name: Teste, Length: 89, dtype: object

In [211]:
teste_rel_clean.astype(str)
teste_rel_lower = teste_rel_clean.str.lower()
teste_rel = teste_rel_lower.str.split()


teste_rel_lista = []

for palavras in teste_rel:
    teste_rel_lista += palavras
serie_teste_rel = pd.Series(teste_rel_lista)
serie_teste_rel

0            √©
1         meus
2       amigos
3          que
4         fase
         ...
1481     quero
1482        um
1483    iphone
1484        11
1485         ü§î
Length: 1486, dtype: object

In [212]:
serie_teste_rel_absoluta = serie_teste_rel.value_counts()
serie_teste_rel_absoluta

iphone          92
11              90
o               67
um              45
do              28
                ..
praticamente     1
@icarofernan     1
facilmente       1
triste           1
bonito           1
Length: 557, dtype: int64

In [213]:
serie_teste_rel_relativa = serie_train_rel.value_counts(True)
serie_teste_rel_relativa

iphone              0.060976
11                  0.055303
o                   0.044810
um                  0.025808
que                 0.020420
                      ...
estilo              0.000284
avisa               0.000284
m√£e                 0.000284
//tco/wo7xlctlnn    0.000284
desapegada          0.000284
Length: 1071, dtype: float64

E dos irrelevantes:

In [214]:
teste_irrel_clean = test.loc[test["Relev√¢ncia"] == 0, 'Teste'].apply(cleanup)
teste_irrel_clean

0      @hyzerfps iphone 11 = fogao de 3 bocasiphone 1...
1      @sirmaykon @uourah kkkkkkkkkkkkkkkkkkkkkk tem ...
2      @cnnbrbusiness @cnnbrasil por isso o mundo t√° ...
3      rt @k3viyn appleevent esperando o iphone 12 la...
6                                 era s√≥ um iphone 11  ü§ß
                             ...
231    eu nunca me esque√ßo do dia q fui tapeada num s...
232                 ganhar um iphone 11 //tco/coxrl1zkza
233    rezando pra que tenha chegado pel√≠cula pro iph...
235    o candidato de igt bancando o populista matuto...
236    @junior_onda vamos pegar o iphone 11 do nosso ...
Name: Teste, Length: 149, dtype: object

In [215]:
teste_irrel_clean.astype(str)
teste_irrel_lower = teste_irrel_clean.str.lower()
teste_irrel = teste_irrel_lower.str.split()


teste_irrel_lista = []

for palavras in teste_irrel:
    teste_irrel_lista += palavras
serie_teste_irrel = pd.Series(teste_irrel_lista)
serie_teste_irrel

0                 @hyzerfps
1                    iphone
2                        11
3                         =
4                     fogao
               ...
2780                     do
2781                  nosso
2782               parceiro
2783       @brendonricardo2
2784    kkkkkkkkkkkkkkkkkkk
Length: 2785, dtype: object

In [216]:
serie_teste_irrel_absoluta = serie_teste_irrel.value_counts()
serie_teste_irrel_absoluta

iphone              164
11                  146
o                    91
e                    57
que                  57
                   ...
maid                  1
dps                   1
@j3ipy                1
@foxsportsbrasil      1
dona                  1
Length: 983, dtype: int64

In [217]:
serie_teste_irrelevante_relativa = serie_train_irrelevante.value_counts(True)
serie_teste_irrelevante_relativa

iphone         0.059257
11             0.050552
o              0.033646
um             0.027787
de             0.024104
                 ...
pegando        0.000167
bra√ßadeiras    0.000167
humildade      0.000167
bravo          0.000167
puder          0.000167
Length: 1750, dtype: float64

*Implementando o Classificador*

___
### Concluindo

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que realiza an√°lise de sentimento e visualiza estes dados

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**